.attribution {
  margin-top: 20px;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: hsl(233, 47%, 7%);
  font-family: Inter;
  font-size: 15px;
  font-weight: 400;
  color: hsl(0, 0%, 100%);
}

main {
  display: flex;
  width: 1110px;
  border-radius: 8px;
  overflow: hidden;
  background-color: hsl(244, 38%, 16%);
}

.container {
  position: relative;
  background-repeat: no-repeat;
}

img {
  display: block;
}

.overlay {
  position: absolute;
  bottom: 0;
  background: hsl(278, 100%, 26%);
  opacity: 0.6;
  z-index: 100;
  width: 100%;
  height: 100%;
  transition: 0.5s ease;
  color: white;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 70px;
}

section > h1 {
  margin: 0 0 16px 0;
  font-size: 2.2rem;
  font-weight: 700;
  letter-spacing: 0.01rem;
  word-spacing: 0.1rem;
}

section > h1 > span {
  color: hsl(277, 64%, 61%);
}

section > p {
  padding-right: 80px;
  line-height: 1.5rem;
  color: hsla(0, 0%, 100%, 0.75);
  margin-bottom: 50px;
}

.datas {
  margin-top: 10px;
  width: 100%;
  display: flex;
  gap: 60px;
  justify-content: start;
}

.datas > p {
  display: flex;
  flex-direction: column;
  color: hsla(0, 0%, 100%, 0.6);
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 0.05rem;
}

.datas span {
  text-transform: none;
  font-weight: 700;
  font-size: 1.4rem;
  color: hsl(0, 0%, 100%);
  margin-bottom: 8px;
}

#mobile {
  display: none;
}

@media only screen and (max-width: 600px) {
  .container {
    display: none;
  }

  #mobile {
    position: relative;
    display: block;
  }

  #mobile img {
    height: 100%;
    width: 100%;
  }

  body {
    text-align: center;
  }

  section > h1 {
    font-size: 2rem;
  }

  main {
    width: 356px;
    flex-direction: column;
  }

  section {
    padding: 50px 27px;
  }

  section > p {
    padding: 0;
    font-size: 1.1rem;
    margin-bottom: 30px;
  }

  .datas {
    flex-direction: column;
    gap: 12px;
  }
}
