html {
  font-size: 62.5%;
}

body {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-rows: 0.99fr 0.01fr;
  min-height: 100vh;
  background-color: hsl(218, 23%, 16%);
  margin: 0;
}

main {
  background-color: hsl(217, 19%, 24%);
  border-radius: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-self: center;
  align-items: center;
  width: 46rem;
  padding: 4rem;
  font-family: Manrope;
  position: relative;
}

.advice-id {
  text-transform: uppercase;
  font-size: 1.4rem;
  color: hsl(150, 100%, 66%);
  letter-spacing: 0.4rem;
  margin: 1rem 0;
}

.quote {
  font-size: 2.8rem;
  font-weight: 800;
  text-align: center;
  margin: 1rem 0 3.2rem 0;
  color: hsl(193, 38%, 86%);
}

.divider-container {
  width: 100%;
  height: 2rem;
  background-image: url(images/pattern-divider-desktop.svg);
  background-size: 100% 100%;
  margin-bottom: 3.6rem;
}

.dice-container {
  background-color: hsl(150, 100%, 66%);
  padding: 2rem;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  transform: translateY(50%);
  cursor: pointer;
  border: none;
}

.dice-container:hover {
  box-shadow: 0px 0px 2rem hsl(150, 100%, 66%);
}

.dice-container:active {
  opacity: 0.8;
}

.attribution {
  font-size: 1.1rem;
  text-align: center;
  margin: 2rem;
  color: white;
}

.attribution a {
  color: aquamarine;
}

@media only screen and (max-width: 600px) {
  body {
    width: 100vw;
  }

  main {
    width: 85%;
    padding: 3rem 1rem;
  }

  .advice-id {
    font-size: 1rem;
  }

  .quote {
    font-size: 2.4rem;
    margin: 1.6rem 0 2rem 0;
  }

  .divider-container {
    background-image: url(images/pattern-divider-mobile.svg);
  }
}
