.attribution {
  margin-top: 20px;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  background-color: hsl(212, 45%, 89%);
  font-family: Outfit;
  font-size: 15px;
}

main {
  background-color: hsl(0, 0%, 100%);
  width: 235px;
  padding: 14px;
  border-radius: 16px;
  box-shadow: 1px 10px 30px rgba(0, 0, 0, 0.1);
}

img {
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
}

section {
  margin: 0 12px;
}

section > h1 {
  font-size: 1.1rem;
  color: hsl(218, 44%, 22%);
}

section > p {
  font-size: 0.8rem;
  color: hsl(220, 15%, 55%);
}
